<div class="row">
  <div class="large-4 columns"></div>
  <div class="large-8 columns">
    <form action="#">
      <fieldset>
        <legend>Add new services</legend>
        <div class="row">
          <div class="large-12 columns">
            {{input type=text}}
            {{input type=text}}
            <button class="button tiny">Create</button>
          </div>
        </div>
      </fieldset>
    </form>
    <h3>Services</h3>
    <hr/>
    <ul class="services">
      {{#each service in model}}
        <li>Name: {{service.name}}</li>
      {{else}}
        <li>
          <h4>There are no services yet.</h4>
        </li>
      {{/each}}
    </ul>
  </div>
</div>